fastapi==0.115.5
uvicorn==0.23.2
google-generativeai==0.8.3
python-dotenv==1.0.1
numpy==2.0.2
websockets==12.0
openai==1.52.2
importlib-metadata==6.8.0
scikit-learn==1.5.1
torch==2.5.0
torchaudio==2.5.0
coremltools==8.3
git+https://github.com/TheStageAI/TheWhisper.git
